body {

                background-image: url("images/Untitled.png");
              
                background-size: 100% 100%;
                margin: 0;
                padding: 0;
                

            }

            .playFairFontJob {
                font-family: "Montserrat", sans-serif;
              
            }

            #firstName {

                letter-spacing: 5px;
                font-size: 70px;
                font-family: "Lato", sans-serif;
                font-weight: 500;
                font-style: normal;
                

            }

            #lastName {
                
                margin-top: -19px; 
                letter-spacing: 3px;
                font-size:75px;
                font-family: "Lato", sans-serif;
                font-weight: 900;
                font-style: normal;

            }

            nav {

                width: 100%;
                background:none;
                display: flex;

            }

            nav ul {

                list-style: none;
                display: flex;
                padding: 0 3%;

            }

            nav a {

                text-decoration: none;

            }

            nav ul li a {

                font-size: 16px;
                padding: 0 15px;
                color: white;
                text-transform: uppercase;
                font-family: "Montserrat", sans-serif;

            }

            nav ul li a:hover {

                transition: 0.2s;
                color: #16ECEC;

            }

            #name {

                position:fixed;
                top: 290px;
                left: 180px;
                width:439px;
                color: white;
             

            }
           

            #name h1 {

               font-size:70px;
               text-transform: uppercase;
               margin: 0;
               padding: 0;
               font-family: "Montserrat", sans-serif;
               font-style: normal;

            }

            #name h2 {

                font-size: 15px;
                font-style: bold;
                margin-top: 5;
                letter-spacing: 10px;
                border-top: white solid 1px;
                padding-top: 9px;
                text-transform: uppercase;

            }

            footer {

                display: flex;
                position: fixed;
                bottom: 100px;
                left: 160px;
                width: 100%;



            }

            footer a {

                padding: 0 15px;


            }

            footer a img {

                width: 40px;
                height: 40px;


            }
           

            #aboutContainer {

                height: auto;
                width:50%;
                position: fixed;
                top: 180px;
                left: 180px;
                font-family: "Montserrat", sans-serif;


            }

            #aboutContainer::before {

                content: "";
                background-color: black;
                opacity: .8;
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 10px;

            }

            #aboutHeader {

                color: white;
                width: 265px;
                position: relative;
                left: 10;
                padding: 0;
                margin:5px;
                

            }


            #aboutText {

                border-bottom: #16ECEC solid 1px;
                font-size: 70px;
                

            }

            #emailAdd {

                padding:0;
                margin: 0;
                position: relative;
                top: -40px;
                font-family: "Montserrat", sans-serif ;

            }

            #aboutContent {

                color: white;
                font-size: 20px;
                font-style: bold;
                line-height: 1.5;
                margin: 20px;
                position: relative;

            }

            #resumeContainer {

                width: 50%; 
                font-family: "Montserrat", sans-serif;
                height: auto;
                position:relative;
                top: 100px;
                margin: auto;

            }

            #resumeContainer::before {

                content: "";
                background-color: black;
                opacity: .8;
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 10px;

            }

            #resumeContent {

                display: flex;
                
                 

            }

            #resumeSkills {

                width: 200px;
                height: 200px;
                position: relative;
                border-radius: 10px;
                margin: 20px;

            }


            #resumeEducation {

                width: 400px;
                height: 400px;
                position: relative;
                border-radius: 10px;
                margin: 20px;


            }

            #resumeExperience {

                width: 400px;
                height: auto;
                position: relative;
                border-radius: 10px;
                margin: 20px;

            }

            #headerSkills {

                color: white;
                border-bottom: #16ECEC solid 1px;
                width: 88px;


            }

            #headerEducation {

                color: white;
                border-bottom: #16ECEC solid 1px;
                width: 170px;


            }

            #headerExperience {

                color: white;
                border-bottom: #16ECEC solid 1px;
                width: 188px;


            }


            .bold {

                font-weight: bold;

            }

            #resumeContent p {

                color: white;
                
                

            }

          

            #portfolioContainer {

                width: 90%;
               
                height: auto;
                text-align: center;
                display:flex;
                align-items: center;
                justify-content: center;
                flex-flow: wrap;
                margin: auto;
                position: relative;
                top: 180px;
                font-family: "Montserrat", sans-serif;

               

            }

            #earthProject {

                width: 400px;
                height: 400px;
                background: white;
                position: relative;
                border-radius:10px;
                background-image: url("images/earth.jpg");
                margin:20px;
                background-size:cover;
                background-position: center;

            }

            #bbcProject {

                width: 400px;
                height: 400px;
                background: white;
                position: relative;
                border-radius:10px;
                background-image:url("images/bbc.png");
                margin:20px;
                background-size:cover;
                background-position: center;

            }

            #javascriptProject {

                width: 400px;
                height: 400px;
                background: white;
                position: relative;
                border-radius:10px;
                background-image:url("images/clock.png");
                margin:20px;
                background-size:cover;
                background-position: center;

            }

            .projectText {

                position: absolute;
                height: 65px;
                width: 100%;
                left: 0;
                bottom: 0;
                z-index: 1;
                background: white;
                overflow: hidden;
                transition:0.2s;
                padding:20px;

            }

            .projectText:hover {

                height: 175px;
                transition:0.3s;

            }

            .projectText h3 {

                margin-top: 3px;
            }

            .projectButton {

                border: 5px solid black;
                border-radius: 10px;
                width: 160px;
                margin-bottom:100px;
                margin-left: 10px;
                background-color: black;
                text-decoration: none;
                color:white;
                font-weight: bold;

            }