		#shape {

			width: 200px;
			height: 200px;
			background-color: red;
			display: none;
			position:relative;


		}

		p {

			font-size: 50px;
			font-weight: bold;

		}

		#time {

			font-size: 50px;
			font-weight: bold;

		}
